* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(#903a3a, #9198e5);
}

#title{
  text-align: center;
  padding-bottom: 20px;
}
.geek{
  margin: 30px;
    display: flex;
    justify-content: space-around;
}
.geek img{
  margin-left: -1%;
  width: 28%;
  border-radius: 10px;
}
.mensaje{
  font-size: 15px;
  margin: 35px 35%;
  background-color: #24303c;
  color: white;
  font-weight: bold;
  width: 400px;
  text-align: center;
  padding: 15px;
  border-radius: 20px;
}
.subTitulo{
  font-size: 25px;
  margin: 0px 35%;
  color: white;
  font-weight: bold;
  width: 400px;
  text-align: center;
}
.form-register {
  width: 400px;
  background: #24303c;
  padding: 30px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 40px;
  border-radius: 10px;
  font-family: 'calibri';
  color: white;
  box-shadow: 0px 5px 37px 2px #000; 
}
.form-register h3 {
  font-size: 18px;
  margin-bottom: 15px;
}
.controls {
  width: 100%;
  background: #24303c;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  margin-top: 10px;
  border: 1px solid #1f53c5;
  font-family: 'calibri';
  font-size: 18px;
  color: white;
}
.form-register p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}

.form-register a {
  color: white;
  text-decoration: none;
}

.form-register a:hover {
  color: white;
  text-decoration: underline;
}

#submit {
  width: 97%;
  background: #1f53c5;
  border: none;
  padding: 12px;
  color: white;
  margin: 0;
  font-size: 16px;
}
#preferencia{
  width: 100%;
  border: 2px solid #1f53c5;
  border-radius: 7px;
}
#seleccion{
  margin-top: 15px;
  font: 13px Arial;
  font-size: 14px;
  border-image: initial;
  margin-bottom: 20px;
}
.opcion-Genero{
  margin: 0px auto;
  display: flex;
}
.opcion-Genero p{
  margin: 0 10px auto 0;
  
}
.opcion-Genero input{
    cursor: pointer;  
}
.form-group p {
  display:initial;
  font-size: 18px;
  margin-left: -10px;
  padding: 10px;
}  
#dropdown {
  margin-top: 12px;
  width: 100%;
  background: #24303c;
  padding: 10px;
  border-radius: 4px;
  margin-left: 0px;
  border: 1px solid #1f53c5;
  font-family: 'calibri';
  font-size: 18px;
  color: white;
}
#coment{
  resize: none;
  margin-bottom: 20px;
}
#edad-p{
  text-align: left;
  font-size: 18px;
}
#number{
  width: 100%;
  background: #24303c;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 0px;
  margin-top: 10px;
  margin-bottom: 20px;
  border: 1px solid #1f53c5;
  font-family: 'calibri';
  font-size: 18px;
  color: white;
}
#residencia{
  font-size: 18px;
  font-family: 'calibri';
}
h3{
  font-size: 18px;
  font-family: 'calibri'; 
}
#name{
margin-top: 10px;
}
#apellidos{
  margin-top: 10px;
}
#email{
  margin-top: 10px;
}
.aprobado{
  background-color: rgb(29, 170, 29);
}
.error{
  background-color: red;
}

@media screen and (max-width: 640px) {
   
  body{
      margin: 10px auto;
      padding: 0;
      position: absolute;
      background-color: #b2b7ecc9
  }
  .geek{
      width: 89%;
      margin: 30px;
      display: flex;
      justify-content: space-around;
    
  }
  .geek img{
    margin-left: -8%;
    width: 60%;
  }
  .mensaje{
      font-size: 10px;
      width: 80%;
      margin-left: 10%;
      margin-top: 20px;
      margin-bottom: 40px;
  }
  .subTitulo{
    font-size: 20px;
      margin: 0px 20%;
      color: rgb(83, 39, 39);
      font-weight: bold;
      width: 30%;
      text-align: center;
  }
  .form-register {
      width: 80%;
      margin-left: 10%;
      margin-top: 30px;
      margin-bottom: 40px;
  }
  #coment {
      resize: none;
      width: 100%;
      margin-bottom: 20px;
  }
  #description{
      margin-top: 10px;
      line-height: 25px;
  }
  
}

@media screen and (min-width: 640px) and (max-width: 1280px){

  body{
      margin: 10px auto;
      padding: 0;
      position: absolute;
      background-color: #b2b7ecc9
  }
.geek{
      width: 100%;
      margin: 30px;
      display: flex;
      justify-content: space-around;
  
  }
.geek img{
      margin-left: 35%;
      width: 75%;
  }
.mensaje{
      font-size: 12px;
      width: 90%;
      margin-left: 31%;
      margin-top: 20px;
      margin-bottom: 40px;
  }
.subTitulo{
      font-size: 20px;
      margin: 0px 50%;
      color: rgb(83, 39, 39);
      font-weight: bold;
      width: 30%;
      text-align: center;
  }
.form-register {
      width: 100%;
      margin-left: 27%;
      margin-top: 30px;
      margin-bottom: 40px;
  }
#coment {
      resize: none;
      width: 100%;
      margin-bottom: 20px;
  }
#description{
      margin-top: 10px;
      line-height: 25px;
  }
}